__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.env
.env.*
*.log
log.txt
downloads/
cache/
.pythonlibs/
.local/
attached_assets/
cookies.txt
SHUKLAMUSIC/assets/cookies.txt
*.session
*.session-journal
*.db
userinfo_img_*.png
SHUKLAMUSIC/assets/game_bg.jpg
