modules = ["python-3.12", "nodejs-20", "bash", "web"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"
packages = ["cacert", "cargo", "espeak-ng", "exiftool", "ffmpeg-full", "freetype", "ghostscript", "gmp", "imagemagickBig", "lcms2", "libGL", "libGLU", "libiconv", "libimagequant", "libjpeg", "libtiff", "libuv", "libwebp", "libxcrypt", "libyaml", "mupdf", "netpbm", "openjpeg", "openssl", "pkg-config", "poppler_utils", "rapidfuzz-cpp", "rustc", "taskflow", "tcl", "tk", "zlib"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m SHUKLAMUSIC"

[deployment]
deploymentTarget = "vm"
run = ["python3", "-m", "SHUKLAMUSIC"]

[userenv]

[userenv.shared]
UPSTREAM_BRANCH = "main"
UPSTREAM_REPO = "https://github.com/dhruvkumarray3-eng/DHRUV_X_RADHA"
API_ID = "38987335"
LOGGER_ID = "-1004458016685"
LOG_GROUP_ID = "-1004458016685"
OWNER_ID = "8245258112"

[[ports]]
localPort = 8080
externalPort = 80
