API_ID=your_telegram_api_id
API_HASH=your_telegram_api_hash
BOT_TOKEN=your_botfather_token
OWNER_ID=your_telegram_user_id
LOGGER_ID=-1001234567890
MONGO_DB_URI=mongodb+srv://username:password@cluster.mongodb.net/musicbot
STRING_SESSION=your_pyrogram_session_string
YOUTUBE_API_KEY=
API_KEY=
API_URL=https://api01.shrutibots.site
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
GROQ_API_KEY=
TMDB_API_KEY=
YOUTUBE_COOKIES_FILE=
