aiofiles
aiohttp
aiohttp-retry
apscheduler
beautifulsoup4
cachetools
certifi
cloudscraper
colorama
cryptography
dnspython
emoji
emojis
Faker
ffmpeg-python
gitpython
gpytranslate
groq
gtts
h2
hachoir
heroku3
httpx
img2pdf
instaloader
kurigram
motor
ntgcalls
numpy
openai
opencv-python
pickledb
pillow
psutil
py-tgcalls>=2.2.0
py-yt-search
pycountry
pycryptodome
pydub
pyfiglet
pymongo
pyrogram
pyshorteners
python-dotenv
python-whois
pyttsx3
pytz
pyyaml
qrcode
rapidfuzz
requests
search-engine-parser
SpeechRecognition
speedtest-cli
spotipy
stripe==10.7.0
telegraph
telethon
tgcrypto>=1.2.5
unidecode
wget
youtube-search
youtube-search-python
yt-dlp>=2026.06.09
